*{
  padding:0;
  margin:0;
}


.link-3{
  text-decoration: none;
}

#nav-3{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1 40px;
  grid-gap:6px;
  background-color:rgba(53, 136, 184, 0.933);
 
}

.link-3{
  color:white;
text-align: center;

}

.link-3:hover{
  text-decoration: underline;
  
}


.videoTag{
  position: relative;
  z-index: -1;
  width: 100%;
  height: auto;

 

}

#nav-4{
  background-color: white;
  display: grid;
  grid-template-columns: repeat(6,auto);
  grid-gap: 5px;
  font-size: 9px;
  padding:10px;
  text-align: center;
}



.link-4{
  text-decoration: none;
  color:black;

}

.link-4:hover{
 background-color: rgb(72, 103, 160);
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 10px;

  transition: 0.3s;
  display: inline-block;
  
}

.cards{
}