@import url('https://fonts.googleapis.com/css?family=Cormorant+Infant:500i&display=swap');

*{
  padding:0;
  margin:0;

}


#nav-3{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1 40px;
  grid-gap:6px;
  background-color:rgba(53, 136, 184, 0.933);
  
 
}

.link-3{
  color:white;
text-align: center;

}

.link-3:hover{
  text-decoration: underline;
  
}


.videoTag{
  position: relative;
  z-index: -1000;
  width: 100%;
  height: auto;
}

 .title{
 font-size: 20px;
 opacity: 1;
 text-align: center;
 position:relative;
 top:2.5em;
 }

.mainLine{
 
  position: relative;
  width: 380px;
  height:180px;
  border:1px solid none;
  background-color:rgb(124, 177, 184);
  opacity:0.8;
  z-index: 4000;
  bottom: 42em;
  left:29em;
  border-radius:25px;
}



#nav-4{
  background-color: white;
  display: grid;
  grid-template-columns: repeat(6,auto);
  grid-gap: 5px;
  font-size: 19px;
  padding:10px;
  text-align: center;
  font-family: 'Cormorant Infant', serif;
}




.link-4{
  text-decoration: none;
  color:black;

}

.link-4:hover{
 background-color: rgb(72, 103, 160);
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 10px;
  transition: 0.3s;
  display: inline-block;
  
}




#info{
  z-index:2000;
  color:#fefe
}

#infotwo{
  z-index: 4000;
  position: relative;
  left: 3em;
  
}

.boxes-grid{
  display: grid;
    grid-gap: 2px;
    grid-template-columns: 1fr 1fr 1fr;
}

/***************** Banner Section ***************/
.banner{
  height:100%;
  display:grid;
  grid-template-columns: repeat(3,100px auto 100px);
  grid-template-rows:repeat(8,auto);
   grid-gap:10px;
   grid-template-areas: 
                          
                        "f f f f . . o o o o o z"
                        "f f f f . . o o o o o z"
                        "f f f f . . o o o o o z"
                        
                        "t t t t t s s s s s s z"
                        "t t t t t s s s s s s z"
                        "t t t t t s s s s s s z"
                        "t t t t t s s s s s s z";
                        font-family: 'Cormorant Infant', serif;
}


#imgOne{
  z-index: 1000;
grid-area:f;
}

#imgTwo{
  z-index: -2000;
  grid-area:s;
  grid-column-start: 8;
  grid-column-end: 12;
}

.animated.fadeInUp{
  transition:all 0.3s ease;
  cursor: pointer;
}

#couple{
  transition:all 0.3s ease;
  cursor: pointer;
  position: relative;
  left:35.5em;
}

#couple:hover{
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
}

#sectionOne{
  grid-area:o;
  grid-column-start: 8;
  grid-column-end: 1;
 
  text-align: center;
}

#sectionTwo{
  grid-area:t;
}

#sushi{
  grid-area:z;
  right:7em;
  position: relative;
  transition:all 0.3s ease;
  cursor: pointer;
}

#sushi:hover{
  display: block;
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
}

/*********** BOXES ****************************/
.box-1{
 display: block;
 transition:all 0.3s ease;
 cursor: pointer;
}

.box-1:hover{
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
}

.box-2{
  display: block;
  transition:all 0.3s ease;
  grid-column: 2/2;
  position: relative;
  bottom:25.2em;
  margin-bottom: -420px;
  cursor: pointer;
 }
 
 .box-2:hover{
   -webkit-transform: scale(0.8);
   -ms-transform: scale(0.8);
   transform: scale(0.8);
 }
 .box-3{
  display: block;
  transition:all 0.3s ease;
  grid-column: 4/4;
  position: relative;
  bottom:25.2em;
  margin-bottom: -420px;
  cursor: pointer;
 }
 
 .box-3:hover{
   -webkit-transform: scale(0.8);
   -ms-transform: scale(0.8);
   transform: scale(0.8);
 }
  





/************ Info Section Component ************/

.info-grid{
  display: grid;
  grid-template-columns:repeat(12,1fr);
  grid-template-rows: 100px 120px auto 100px;
  grid-template-areas: ". . . h h h h h h h h ."
                       ". . p p p p p p p p . ."
                       ". . . . . t t . . . . .";
  
}

#header-one{
  grid-area: h;
  font-family: 'Cormorant Infant', serif;
  letter-spacing: 4px;
  
}
#paragraph-one{
  grid-area:p;
  font-family: 'Cormorant Infant', serif;
  font-size: 30px;
  text-align: center;
}

#header-two{
  grid-area:t;
  font-family: 'Cormorant Infant', serif;
  font-size: 30px;
}


.offers-grid{
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: 200px 50px 100px auto 100px;
  grid-template-areas: 
                      ". . . . . . . . . . . ."
                      ". . . . . h h h h . . ."
                      ". . . . . p p p p p . ."
                       ". . t t t t t t t t . ."
                       ". . . . . . . . . . . ."
                       ". . . . . e e . . . . .";
}

#your-stay{
  grid-area:h;
  letter-spacing: 16px;
 
}

#underline{
  grid-area:p;
  border: solid rgb(61, 148, 182);
  height: 0px;
  width: 320px;
}

#para-two{
grid-area: t;
font-size: 28px;
font-family: 'Cormorant Infant', serif;
letter-spacing: 5px;
word-spacing: 5px;
text-align: center;


}

#explore{
  grid-area: e;
  font-size: 30px;
  letter-spacing: 8px;
}

 #detail-one{
top:130px;
position: relative;
text-align: center; 
text-align: center;
letter-spacing: 6px;
}



#detail-two{
  position: relative;
  text-align: center;
  left:90px;
  top:3em;
  letter-spacing: 6px;
} */

/* #a-line{
  
    width:100px;
    height:100px;
    transition: .5s;
    float: left;
    box-shadow: -2px 2px 0 rgb(9, 202, 35);
    transform: rotate(315deg);
    position: relative;
    font-size: 10px;
    border:3px solid rgb(95, 95, 224);
    background-color: rgb(72, 182, 197);
}

#a-line:hover{
  transition:.9s;
  transform: rotate(45deg);
} */

/********************* Form-Grid **************/

.form-group{
 
}
#form-header{
  background-color: darkolivegreen;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(50px,1fr) );
  grid-template-rows: 50px 150px auto 150px 150px;
 font-size: 20px;
 padding-left: 30px;
}

#questionOne{
  background-color: pink;
  grid-column: 2;
  grid-row: 3/5;
  font-size:27px;
}
.form-control{
  background-color: red;
 font-size: 20px;
 
}

#questionTwo{
  background-color: yellow;
 grid-row:3/5;
 font-size: 27px;
}

.form-controller{
  background-color: blue;
  font-size: 20px;
}

.btn{
  background-color: cyan;
  grid-row:5/5;
  grid-column: 2/1;
 
}
.social-media-grid{
  display:grid;
  grid-template-columns:repeat(12,1fr);
  grid-template-rows:50px auto 140px;

}
/** social hub**/
#social-media{
  grid-column :6/12;
  grid-row:2/-1;
  padding-top:60px;
  letter-spacing:12px;
  font-size: 20px;
}

#join{
  grid-column:5/-1;
  letter-spacing: 9px;
  padding-bottom:40px ;
  font-weight: lighter;
}

.mediaTwo-grid{
  display:grid;
  grid-template-columns: repeat(12,1fr);
  
}



.slide{
  display:grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(8, 1fr);
  overflow-x: hidden;
  padding: 5px 5px 5px 30px;
  overflow-y: hidden;
}

#innerLine{
  width:1px;
  height:35px;
  border:1px black;
  background-color: black;
 
}

#try{
  width:600px;
  height: 90px;
  background-color: rgb(194, 194, 194);
}
/****************** Footer grid section ********/

#section-1{
  display:grid;
  grid-template-columns: repeat(24,100px);
  grid-template-rows: repeat(12,50px);
}

#icons{
  grid-row: 15/16;
  grid-column: 12/9;
  margin-bottom: 10px;
}

#dot-one{
padding:5px;

}

#dot-two{
  padding:5px;
}

#dot-three{
  padding:5px;
}

#dot-four{
  padding:5px;
}
#info-line{
  border:1px solid gray;
  width:200px;
  height: 0px;
  transition:2s;
  transform: rotate(90deg);
  position: relative;
  left:90px;
  ;

}

#infoSection{
  grid-row:8/10;
  grid-column: 5/6;
}

#section-3{
  grid-row:8/10;
  grid-column: 8/9;
  text-align: center;
  list-style-type: none;
  font-size: 12px;
  
}

#section-4{
  grid-row:8/10;
  grid-column: 10/10;
  text-align: center;
  list-style-type: none;
  font-size: 12px;
}

#info-line-2{
  border:1px solid gray;
  width:200px;
  height: 0px;
  transition:2s;
  transform: rotate(90deg);
  grid-column: 11/12;
  grid-row:9;
}
  
#mail{
  grid-column: 13/15;
  grid-row:8/10;
}

#email-p{
  grid-column: 14/15;
  grid-row:8/10;
  letter-spacing: 2px;
}
li{
  margin: 10px 0;
  letter-spacing: 2px;
}

#instaSlide{
  position: absolute;
  left:29em;
  bottom:22em;
  margin-bottom: -65px;
}

/* ******* hover effect cards *****


.grid-card{
  width: 130px;
  height: 195px;
  position: relative;
  display: inline-block;
  margin: 50px;
}
#cardOneHover{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  transition:all 0.8s ease;
}

.grid-card:hover #cardOneHover{
  display: inline;
  -webkit-transform: scale(0.4);
  -ms-transform: scale(0.4);
  transform: scale(0.9);
} */